
body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp7881177.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;;
  }
  
  .container {
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    background-color: rgba(96, 94, 94, 0.8);
  }
  
  h1 {
    text-align: center;
  }


input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    color: #bdbaba;
}
